<template>
  <div>
    <div>
      <p>
        Poids Prix 1 4,2 2 4,5 3 4,95 4 5,05 5 5,4 6 5,95 7 6,1 8 6,95 9 7,4 10
        7,6 11 7,95 12 9,05 13 9,1 14 9,95 15 10,2 16 10,5 17 10,95 18 11,2 19
        11,9 20 12,5 21 12,9 22 13,5 23 13,95 24 14,95 25 15 26 16,8 27 16,9 28
        17,95 29 18,95 30 19,95
      </p>
    </div>
    <input v-model.number="prix" type="number" />
    <input v-model.number="poids" type="number" />
    <input v-model.number="tva" type="number" />
    <div>
      <div>
        <p>{{ marge }}%</p>
        <button v-on:click="plus(tracker[0])">+</button>
        <button v-on:click="moins(tracker[0])">-</button>
      </div>
      <p>BENEFICE: {{ gain }}</p>
      <p>PRIX FINAL: {{ total }}</p>
    </div>

    <div>
      <div>
        <p>{{ marge2 }}%</p>
        <button v-on:click="plus(tracker[1])">+</button>
        <button v-on:click="moins(tracker[1])">-</button>
      </div>
      <p>BENEFICE amazon: {{ gain2 }}</p>
      <p>COMMISSION: {{ commission }}</p>
      <p>PRIX FINAL amazon: {{ total2 }}</p>
    </div>

    <div>
      <div>
        <p>{{ marge3 }}%</p>
        <button v-on:click="plus(tracker[2])">+</button>
        <button v-on:click="moins(tracker[2])">-</button>
      </div>
      <p>BENEFICE cdiscount: {{ gain3 }}</p>
      <p>COMMISSION: {{ commission2 }}</p>
      <p>PRIX FINAL cdiscount: {{ total3 }}</p>
    </div>

    <!-- <button v-on:click="input"></button> -->
    <button v-on:click="calcul(prix, poids, tva, save)">calcul</button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      prix: 0,
      poids: 0,
      tva: 1.2,
      save: 0,
      tracker: ["a", "b", "c"],
    };
  },
  methods: {
    plus(i) {
      console.log(i, this.$store.state);
      this.$store.dispatch("margeUp", i);
    },
    moins(i) {
      this.$store.dispatch("margeDown", i);
    },
    // input() {
    //   this.$store.dispatch("input");
    // },
    calcul(prix, poids, tva, save) {
      this.$store.state.total = (prix + poids) * tva;

      this.$store.state.gain =
        (this.$store.state.total * this.$store.state.marge) / 100;

      save = (this.$store.state.total * this.$store.state.marge2) / 100;

      this.$store.state.total2 =
        this.$store.state.total +
        save +
        ((this.$store.state.total + save) * 15) / 100;
      this.$store.state.commission = (this.$store.state.total2 * 15) / 100;
      this.$store.state.gain2 = save;

      save = (this.$store.state.total * this.$store.state.marge3) / 100;

      this.$store.state.total3 =
        this.$store.state.total +
        save +
        ((this.$store.state.total + save) * 20) / 100;
      this.$store.state.commission2 = (this.$store.state.total3 * 20) / 100;
      this.$store.state.gain3 = save;

      this.$store.state.total =
        this.$store.state.total + this.$store.state.gain;

      console.log(this.$store.state);
    },
  },
  computed: {
    ...mapState([
      "marge",
      "marge2",
      "marge3",
      "total",
      "total2",
      "total3",
      "gain",
      "gain2",
      "gain3",
      "commission",
      "commission2",
    ]),
  },
};
</script>

<style>
</style>